<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Upload For User</title>
    <link rel="stylesheet" href="static/css/up.css">
</head>
<body>
<div class="frame">
   <div class="center">
    <div class="bar"></div>
    <form action="pdf_upload" method="POST"  enctype="multipart/form-data">
      <div class="title">Drop file to upload</div>
      <div class="dropzone">
        <div class="content">
          <img src="static/upload.png" class="upload">
          <span class="filename"></span>
          <input type="file"  name="file" class="input" multiple>
        </div>
      </div>
      <img src="static/syncing.png" class="syncing">
      <img src="static/checkmark.png" class="done">
      <input class="upload-btn" type="submit" value="Upload file">
    </form>
  </div>
</div>
</body>
</html>